.footer {
  width: 100%;
  background-color: #f5f5fa;
}

.footer-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  border-top: 4px solid #e6e6f0;
}

.footer-line1 {
  margin-bottom: 20px;
}

.footer-line2 {
  display: flex;
  flex-direction: column;
}

.footer-adress {
  font-size: 16px;
  font-weight: 700;
  color: #323264;
  margin: 20px auto 10px;
}

.map-link {
  font-size: 12px;
  color: #24a3ff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
}

.fb-icon {
  display: block;
  margin: 0 auto;
  width: 38px;
  height: 38px;
}

.tel-number {
  font-size: 16px;
  font-weight: 700;
  color: #323264;
  margin: 20px auto 20px;
  text-decoration: none;
}

.email-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #24a3ff;
}

.footer-h3 {
  font-weight: 400;
  font-size: 16px;
  color: #b3b3ba;
  width: 95%;
  margin: 20px auto 138px;
}

@media screen and (max-width: 767px) {
  .footer-ds {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 15% 0;
  }

  .footer-left {
    width: 100%;
  }
  .footer-line1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .footer-adress {
    margin: 0;
  }

  .footer-line2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  .fb-icon {
    margin: 0;
  }

  .tel-number {
    margin: 0;
  }

  .footer-h3 {
    margin: 20px auto 80px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    padding: 30px 0 40px;
    justify-content: space-between;
  }

  .footer-left {
    width: 45%;
  }

  .footer-line1 {
    padding-left: 0;
  }

  .footer-line2 {
    padding-right: 0;
  }

  .footer-h3 {
    width: 40%;
    margin: 0;
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .footer-left {
    width: 35%;
  }
}

@media screen and (min-width: 1600px) {
  .footer-left {
    width: 30%;
  }
}

@media screen and (min-width: 1920px) {
  .footer-left {
    width: 25%;
  }
}
