@media screen and (min-width: 400px) {
  .publications-container {
    height: 1975px;
  }

  .publications {
    height: 3730px;
  }
}

@media screen and (min-width: 460px) {
  .publications-container {
    height: 2110px;
  }

  .publications {
    height: 3990px;
  }
}

@media screen and (min-width: 568px) {
  .publications-container {
    height: 2355px;
  }

  .publications {
    height: 4500px;
  }
}

@media screen and (min-width: 640px) {
  .publications-container {
    height: 2520px;
  }

  .publications {
    height: 4830px;
  }
}

@media screen and (min-width: 720px) {
  .publications-container {
    height: 2710px;
  }

  .publications {
    height: 5185px;
  }
}
@media screen and (max-width: 767px) {
  /* #block7,
  #block8,
  #block9,
  #block10,
  #block11,
  #block12 {
    display: none;
  } */
}

@media screen and (min-width: 768px) {
  .publications {
    height: 2860px;
    align-content: space-between;
  }

  .publication-block {
    margin-bottom: 40px;
  }

  .publication-block:nth-child(2n) {
    order: 1;
  }

  .publication-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 876px) {
  .publications {
    height: 2900px;
  }
}

@media screen and (min-width: 900px) {
  .publications {
    height: 2998px;
  }
}
@media screen and (min-width: 1024px) {
  .publications-container {
    height: 2450px;
  }
  .publications {
    height: 2280px;
    padding-top: 40px;
  }

  #block1,
  #block3,
  #block7,
  #block9 {
    order: 1;
  }
  #block2,
  #block4,
  #block8,
  #block10 {
    order: 2;
  }
  #block6,
  #block5,
  #block12,
  #block11 {
    order: 3;
  }

  #block5 {
    order: 5;
  }
  #block6 {
    order: 4;
  }

  #block11 {
    order: 7;
  }
  #block12 {
    order: 6;
  }
  .publications::before,
  .publications::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  .publication-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .publications-container {
    height: 2320px;
  }
  .publications {
    height: 2125px;
  }
}

@media screen and (min-width: 1440px) {
  .publications-container {
    height: 2265px;
  }
  .publications {
    height: 2085px;
    max-width: 1300px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .publications-container {
    height: 2265px;
  }
  .publications {
    height: 2090px;
  }
}
