@media screen and (min-width: 640px) {
  .team-section {
    padding: 0 0 40px;
  }
  .gradient-text-h {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .team-members {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .gradient-text-h {
    width: 50%;
  }
  .team-member {
    flex-direction: column;
    width: fit-content;
  }

  .tm-photo {
    width: 413px;
    height: 500px;
  }

  .tm-desc-wrapper {
    position: relative;
    margin-left: 0;
    margin-top: 20px;
    justify-content: flex-start;
  }

  .open-link {
    position: absolute;
    right: 0;
    bottom: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .team-members {
    padding-top: 80px;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}
